.cbody {
    
    background-color: #52040C;
    color: rgb(230, 230, 230);

}

.positionlincks {

    position:relative;
    left: 86%;

}
.cfooter {

    background-color: #52040C;
    background-color: rgba(0, 0, 0, 0.1);
    margin-bottom: 0px;
    position: relative;
    top: 200px;
}

.boton{
    background-color: rgba(0, 0, 0, 0.203);
    color: rgb(230, 230, 230);
    border: 1.5px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 25px;
    padding: 10px 15px;
    margin: 20px 0;
}

.pcentrado {
    margin-right: 500px;
}


.chead {
    background-color: #52040C;

}

.cletrasystyle {

    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


#poslogco {

    margin-left: 1000px;
}

#poslogfa {
    margin-left: 20px;

}

#poslogins {
    margin-left: 20px;
}