.cbody {
    
    background-color: #52040C;
    color: rgb(230, 230, 230);

}

.positionlincks {
    
    margin-left: 70%;
}
.cfooter {
    
    background-color: #52040C;
    background-color: rgba(0, 0, 0, 0.1);
    margin-bottom: 2%;
    position: relative;
    margin-top: 23%;
    margin-bottom: 0%;
}

.boton{
    background-color: rgba(0, 0, 0, 0.203);
    color: rgb(230, 230, 230);
    border: 1.5px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 25px;
    padding: 10px 15px;
    margin-right: 20px;
}

.pcentrado {
    margin-right: 50%;
}


.chead {
    background-color: #52040C;

}

.cletrasystyle {

    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



#poslogfa {
    margin-left: 2%;
    width: 6%;
    height: 6%;
    margin-top: 1%;
    margin-bottom: 1%;

}

#poslogins {
    margin-left: 2%;
    width: 6%;
    height: 6%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#poslogco {
    margin-left: 76%;
    width: 6%;
    height: 6%;
    margin-top: 1%;
    margin-bottom: 1%;
}
