.cbody {
    
   background-color: #52040C;
   color: rgb(230, 230, 230);

}

.positionlincks {
   
   margin-left: 70%;
}
.cfooter {

   background-color: #52040C;
   background-color: rgba(0, 0, 0, 0.1);
   margin-bottom: 0px;
   position: relative;
   margin-top: 30%;
}

.boton{
   background-color: rgba(0, 0, 0, 0.203);
   color: rgb(230, 230, 230);
   border: 1.5px;
   border-radius: 20px;
   cursor: pointer;
   font-size: 25px;
   padding: 10px 15px;
   margin-right: 20px;
}

.pcentrado {
   margin-right: 50%;
}


.chead {
   background-color: #52040C;

}

.cletrasystyle {

   color: aliceblue;
   font-family: Georgia, 'Times New Roman', Times, serif;
}



#poslogfa {
   margin-left: 2%;

}

#poslogins {
   margin-left: 2%;
}

#poslogco {

   margin-left: 76%;
}
