.cbody {
     background-color:#52040C;

}

.cfooter {

    background-color:#52040C;
    background-color: rgba(0, 0, 0, 0.1);
    margin-bottom: 0px;
    position: relative;
    top: 350px;
}

.boton{
    color: rgb(230, 230, 230);
    border: 1.5px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 25px;
    padding: 10px 15px;
    margin: 20px 0;
}

#poslogco {

    margin-left: 1000px;
}

#poslogfa {
    margin-left: 20px;

}

#poslogins {
    margin-left: 20px;
}
.pcentrado {
    margin-right: 500px;
}

.chead {
    background-color: #52040C;

}

.cletrasystyle {

    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.positionlincks {

    position:relative;
    top: -200px;
    left: 80%;

}
#positiontitulo {
    position: relative;
    top: 60px;
}
#positiontable {

    position: relative;
    top: 60px;
}

.table {
    border: 3px;
    border-color: black;
    border-radius: 5%;
    background-color: black;
}
.tr {
    border: 3px;
    border-color: rgb(12, 12, 12);
    background-color: grey;
}