.body {
background-color: brown;

}

.pcentrado {
    margin-right: 500px;
}

#BotonAjedrez {

    position: relative;
    top: 20px;
    left: 120px;
}

#BotonHandball {

    position: relative;
    top: 20px;
    left: 800px;
}

#Boton23Par {

    position: relative;
    top: 20px;
    left: 120px;
}

.fondohead {
    background-color: rgb(194, 83, 83);

}